@import './../../../style/common.scss';

.card {
    position: relative;
    border-radius: var(--main-border-radius);
    overflow: hidden;
    @include adaptiveProperty(padding, 30, 20);
    display: flex;
    flex-direction: column;
    gap: 15px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 0.5s;
        z-index: 1;
    }
    .cover_link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    .title {
        max-width: max-content;
        width: 100%;
        position: relative;
        z-index: 4;
        color: var(--card-text-color);
        @include adaptiveFont(30, 20);
        text-transform: uppercase;
        font-weight: 700;
        font-family: var(--montserrat-font);
        transition: 0.3s;
        &:hover {
            color: var(--main-color);
        }
    }
    .ofer {
        position: relative;
        border-radius: 10px;
        padding: 10px;
        max-width: max-content;
        width: 100%;
        color: var(--card-text-color);
        @include adaptiveFont(18, 16);
        white-space: wrap;
        background-color: var(--main-color);
        z-index: 2;
    }
    .advantages {
        position: relative;
        margin-top: auto;
        z-index: 2;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        max-width: 228px;
        background-color: rgba($color: #838282, $alpha: 0.5);
        backdrop-filter: blur(20px);
        .advantages_title {
            color: #cecece;
            @include adaptiveFont(20, 18);
            font-weight: 600;
            margin-bottom: 5px;
        }
        .description {
            @include adaptiveFont(16, 14);
            color: var(--card-text-color);
            word-break: break-word;
            hyphens: auto;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}