@import './../../style/common.scss';

.about{
    .hero {
        position: relative;
        height: 75dvh;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000, $alpha: .5);
            z-index: 1;
        }
        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .content {
            position: relative;
            z-index: 2;
            margin-top: 10%;
            & h1 {
                @include adaptiveFont(70, 40);
                font-weight: 700;
                line-height: 82px;
                @include adaptiveProperty(line-height, 82, 50);
                color: var(--main-color);
                margin-bottom: 15px;
            }
            & p{
                @include adaptiveFont(35, 22);
                @include adaptiveProperty(line-height, 41, 25);
                font-size: 35px;
                line-height: 41px;
                font-weight: 700;
                color: var(--text-color-light);
            }
        }
    }

    .about_description {
        @include adaptiveProperty(margin-top, 80, 50);
        .flex {
            @include adaptiveProperty(margin-top, 50, 30);
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            @include adaptiveProperty(gap, 75, 45);
            width: 100%;
            .description{
                display: flex;
                flex-direction: column;
                gap: 25px;
                .description_flex {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                & .main_button{
                    @include adaptiveFont(25, 18);
                }
                & p{
                    @include adaptiveFont(20, 18);
                    font-weight: 400;
                    line-height: 23px;
                    color: var(--text-color-dark);
                }
            }
            .image_wrapper {
                flex: 1;
                overflow: hidden;
                position: relative;
                border-radius: var(--main-border-radius);
                min-height: 325px;
                .image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    .statistick {
        @include adaptiveProperty(margin-top, 80, 50);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 100px;
        & .item{
            padding: 30px;
            border-radius: var(--main-border-radius);
            width: 100%;
            display: flex;
            align-items: start;
            transition: 0.3s;
            @include adaptiveProperty(gap, 65, 20);
            @include mediaMaxWidth(993) {
                padding: 0;
            }
            @include mediaMinWidth(992) {
                &:hover{
                    background: var(--main-color);
                }
            }
            .icon {
                @include adaptiveProperty(min-width, 120, 50);
                @include adaptiveProperty(min-height, 120, 50);
                background: rgb(217, 217, 217);
                border-radius: 10px;
            }
            .content {
                & h3 {
                    font-weight: 700;
                    color: var(--text-color-dark);
                    @include adaptiveFont(50, 28);
                    @include adaptiveProperty(line-height, 59, 35); 
                }
                & p{
                    font-weight: 400;
                    color: var(--text-color-dark);
                    @include adaptiveFont(30, 18);
                    @include adaptiveProperty(line-height, 35, 23); 
                }
            }
        }
    }

    .projects{
        width: 100%;
        //overflow: hidden
        .swiper {
            padding: 20px 0;
            margin-top: 40px;
            margin-bottom: 60px;
            .swiper-slide {
                // width: 400px;
                border-radius: var(--main-border-radius);
                height: 488px;
                background: gray;
                transition: 0.3s;
                cursor: pointer;
                @include mediaMinWidth(992) {
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    .awards {
        width: 100%;
        background: var(--main-color);
        margin-bottom: 100px;
        padding: 60px 0;
        .main_title {
            color: var(--text-color-light);
        }
        .swiper {
            .swiper-wrapper{
                -webkit-transition-timing-function: linear !important;
                transition-timing-function: linear !important;
            }
            margin-top: 50px;
            .swiper-slide {
                border-radius: 10px;
                height: 347px;
                padding: 25px;
                background: #fff;
                width: 250px;
                .year, h3 {
                    color: var(--text-color-dark);
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 23px;
                    margin-bottom: 20px;
                }
                h3{
                    color: var(--main-color);
                }
                p{
                    color: var(--text-color-dark);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 23px;
                }
            }
        }
    }

    .info{
        margin-top: 40px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-bottom: 150px;
        @include adaptiveProperty(gap, 80, 30);
        .contacts {
            display: flex;
            flex-direction: column;
            gap: 50px;
            .central, .partners {
                h2 {
                    color: var(--text-color-dark);
                    font-weight: 700;
                    margin-bottom: 30px;
                    @include adaptiveFont(35, 28);
                    @include adaptiveProperty(line-height, 41, 35); 
                }
                .flex {
                    display: flex;
                    flex-direction: column;
                    @include adaptiveProperty(gap, 25, 20);
                    .contacts_item{
                        h3 {
                            color: var(--text-color-dark);
                            font-weight: 700;
                            @include adaptiveFont(35, 18);
                            @include adaptiveProperty(line-height, 23, 22);
                            @include adaptiveProperty(margin-bottom, 20, 17);
                        }
                        p, a {
                            display: block;
                            color: var(--text-color-dark);
                            font-weight: 400;
                            margin-bottom: 10px;
                            transition: 0.3s;
                            @include adaptiveFont(20, 16);
                            @include adaptiveProperty(line-height, 23, 18);
                            @include mediaMinWidth(992) {
                                &:hover {
                                    color: var(--main-color);
                                }
                            }
                        }
                    }
                }
            }
        }
        .consultation{
            margin: 0 auto;
            width: 100%;
            //max-width: 550px;
            min-width: 300px;
            border: 1px solid rgb(183, 183, 183);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            background: #fff;
            border-radius: var(--main-border-radius);
            display: flex;
            flex-direction: column;
            transition: 0.5s;
            height: max-content;
            @include adaptiveProperty(gap, 45, 25); 
            @include adaptiveProperty(padding-bottom, 50, 25);
            @include adaptiveProperty(padding-top, 50, 25);
            @include adaptiveProperty(padding-left, 50, 20);
            @include adaptiveProperty(padding-right, 50, 20);
            @include mediaMinWidth(992) {
                &:hover {
                    transform: translate(-10px, -12px);
                    box-shadow: 10px 12px 20px 0px rgba(0, 0, 0, 0.25);
                }
            }
            .main_title.mb {
                @include adaptiveProperty(margin-bottom, 25, 15); 
            }
            p {
                color: var(--text-color-dark);
                opacity: 0.8;
                font-weight: 400;
                line-height: 23px;
                @include adaptiveFont(18, 16);
            }
            input {
                color: var(--text-color-dark);
                @include adaptiveFont(20, 18);
                font-weight: 400;
                line-height: 23px;
                padding: 18px 25px;
                width: 100%;
                background: var(--background-grey);
                border-radius: 10px;
            }
            .main_button {
                width: 100%;
                background: var(--main-color);
                color: var(--text-color-light);  
                @include mediaMinWidth(992) {
                    &:hover {
                        background: transparent;
                        color: var(--text-color-dark);
                    }
                }
            }
            a{
                display: block;
                width: 100%;
                text-align: center;
                color: var(--text-color-dark);
                @include adaptiveFont(30, 20);
            }
        }
    }
}