@import './../../style/common';

.company_info{
    margin-top: -50px;
    @include adaptiveProperty(padding-top, 120, 80);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 150px;
    @include adaptiveProperty(gap, 80, 30);
    .contacts {
        display: flex;
        flex-direction: column;
        gap: 50px;
        .central, .partners {
            h2 {
                color: var(--text-color-dark);
                font-weight: 700;
                margin-bottom: 30px;
                @include adaptiveFont(35, 28);
                @include adaptiveProperty(line-height, 41, 35); 
            }
            .flex {
                display: flex;
                flex-direction: column;
                @include adaptiveProperty(gap, 25, 20);
                .contacts_item{
                    h3 {
                        color: var(--text-color-dark);
                        font-weight: 700;
                        @include adaptiveFont(20, 18);
                        @include adaptiveProperty(line-height, 23, 22);
                        @include adaptiveProperty(margin-bottom, 20, 17);
                    }
                    p, a {
                        display: block;
                        color: var(--text-color-dark);
                        font-weight: 400;
                        margin-bottom: 10px;
                        transition: 0.3s;
                        @include adaptiveFont(20, 16);
                        @include adaptiveProperty(line-height, 23, 18);
                        @include mediaMinWidth(992) {
                            &:hover {
                                color: var(--main-color);
                            }
                        }
                    }
                }
            }
        }
    }
    .consultation{
        position: relative;
        margin: 0 auto;
        width: 100%;
        //max-width: 550px;
        min-width: 300px;
        border: 1px solid rgb(183, 183, 183);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: #fff;
        border-radius: var(--main-border-radius);
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        height: max-content;
        will-change: transform;
        @include adaptiveProperty(gap, 45, 25); 
        @include adaptiveProperty(padding-bottom, 50, 25);
        @include adaptiveProperty(padding-top, 50, 25);
        @include adaptiveProperty(padding-left, 50, 20);
        @include adaptiveProperty(padding-right, 50, 20);
        .main_title.mb {
            @include adaptiveProperty(margin-bottom, 25, 15); 
        }
        p {
            color: var(--text-color-dark);
            opacity: 0.8;
            font-weight: 400;
            line-height: 23px;
            @include adaptiveFont(18, 16);
        }
        input {
            color: var(--text-color-dark);
            @include adaptiveFont(20, 18);
            font-weight: 400;
            line-height: 23px;
            padding: 18px 25px;
            width: 100%;
            background: var(--background-grey);
            border-radius: 10px;
            transition: 0.3s;
            border: 1px solid transparent;
            &.input_error {
                border: 1px solid red;
                background-color: rgba($color: red, $alpha: 0.1);
            }
        }
        .error {
            height: 20px;
            width: 100%;
            text-align: center;
            color: red;
            @include adaptiveFont(14, 12);
        }
        .main_button {
            width: 100%;
            background: var(--main-color);
            color: var(--text-color-light);  
            @include mediaMinWidth(992) {
                &:hover {
                    background: transparent;
                    color: var(--text-color-dark);
                }
            }
            &.disable {
                cursor: not-allowed;
                opacity: 0.5;
                @include mediaMinWidth(992) {
                    &:hover {
                        background: var(--main-color);
                        color: var(--text-color-light);  
                    }
                }
            }
        }
        a{
            display: block;
            width: 100%;
            text-align: center;
            color: var(--text-color-dark);
            @include adaptiveFont(30, 20);
        }
        @keyframes appearSuccess {
            to {
                z-index: 2;
                opacity: 1;
            }
        }
        .success {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: var(--main-border-radius);
            background: #fff;
            opacity: 0;
            z-index: -1;
            transition: 0.5s;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            animation: appearSuccess 0.5s forwards linear;
            animation-delay: 0.5s;
            & p {
                opacity: 0;
                animation: appearSuccess 0.5s forwards linear;
                animation-delay: 3s;
            }
            .check_box{
                position: relative;
                width: 250px;
                height: 250px;
                display: flex;
                align-items: center;
                justify-content: center;
                .line {
                    position: absolute;
                    top: 92.5px;
                    left: 31px;
                    transform: rotate(41deg);
                    transform-origin: left;
                    max-width: 100px;
                    height: 12px;
                    border-radius: 10px;
                    background: var(--main-color);
                    animation: lineAnim 0.7s forwards linear;
                    animation-delay: 2s;

                }
                .second_line {
                    position: absolute;
                    top: 158px;
                    left: 99px;
                    transform: rotate(312deg);
                    transform-origin: left;
                    max-width: 150px;
                    height: 12px;
                    border-radius: 10px;
                    background: var(--main-color);
                    animation: lineAnim 0.7s forwards linear;
                    animation-delay: 2.3s;
                }
                svg{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                circle {
                    position: relative;
                    fill: transparent;
                    stroke: var(--main-color);
                    stroke-width: 12px;
                    stroke-linecap: butt;
                    stroke-dasharray: 773;
                    stroke-dashoffset: calc(773 - (773 * 60) / 100);
                    transform-origin: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: scale(-1, 1);
                    transform: rotate(380deg) scale(-1, 1);
                    animation: roundCircle 1.5s forwards;
                    animation-delay: 0.5s;
                }
            }
            @keyframes roundCircle {
                0% {
                    transform: rotate(0) scale(-1, 1);
                }
                30% {
                    stroke-dashoffset: calc(773 - (773 * 60) / 100);
                }
                70% {
                    transform: rotate(380deg) scale(-1, 1);
                }
                100% {
                    transform: rotate(380deg) scale(-1, 1);
                    stroke-dashoffset: calc(773 - (773 * 0) / 100);
                }
            }
            @keyframes lineAnim {
                from {
                    width: 0;
                }
                to {
                    width: 100%;
                }
            }
        }
    }
}