@import './../../../style/common.scss';

.home {
    width: 100%;
    /*----- Главный слайдре --------*/
    .main_slider_block {
        position: relative;
        width: 100%;
        min-height: 100dvh;
        .main_swiper {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            -ms-user-select: none; 
            -moz-user-select: none; 
            -webkit-user-select: none; 
            user-select: none;
            .swiper-slide {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                padding: 10px;
                padding-bottom: 60px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.4);
                    z-index: 3;
                }
                .title {
                    position: relative;
                    z-index: 5;
                    width: max-content;
                    max-width: 650px;
                    @include adaptiveFont(70, 50);
                    font-weight: 700;
                    color: var(--text-color-light);
                }
                button {
                    position: relative;
                    z-index: 5;
                }
                & img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .swiper-pagination {
                position: absolute;
                @include adaptiveProperty(bottom, 50, 20);
                left: 50%;
                transform: translateX(-50%);
                z-index: 5;
                width: 100%;
                max-width: 720px;
                padding: 0 100px;
                display: flex;
                gap: 18px;
                .swiper-pagination-bullet {
                    flex: 1;
                    height: 7px;
                    background-color: rgba($color: #fff, $alpha: 0.3);
                    border-radius: 7px;
                    transition: 0.3s;
                    cursor: pointer;
                    &.swiper-pagination-bullet-active {
                        background-color: var(--main-color);
                    }
                }
            }
        }
    }
    .container {
        @include adaptiveProperty(padding-top, 80, 40);
        @include adaptiveProperty(padding-bottom, 80, 40);
        .head {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
            @include adaptiveProperty(margin-bottom, 50, 30);
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-auto-rows: 488px;  
            @include adaptiveProperty(gap, 50, 20);
            @include mediaMaxWidth(800) {
                grid-auto-rows: 400px; 
            }
            .card {
                position: relative;
                border-radius: var(--main-border-radius);
                overflow: hidden;
                @include adaptiveProperty(padding, 30, 20);
                display: flex;
                flex-direction: column;
                gap: 15px;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: 0.5s;
                    z-index: 1;
                }
                .cover_link {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                }
                .title {
                    max-width: max-content;
                    width: 100%;
                    position: relative;
                    z-index: 4;
                    color: var(--text-color-light);
                    @include adaptiveFont(30, 20);
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: var(--montserrat-font);
                    transition: 0.3s;
                    &:hover {
                        color: var(--main-color);
                    }
                }
                .ofer {
                    position: relative;
                    border-radius: 10px;
                    padding: 10px;
                    max-width: max-content;
                    width: 100%;
                    color: var(--text-color-light);
                    @include adaptiveFont(18, 16);
                    white-space: wrap;
                    background-color: var(--main-color);
                    z-index: 2;
                }
                .advantages {
                    position: relative;
                    margin-top: auto;
                    z-index: 2;
                    border-radius: 10px;
                    padding: 10px;
                    width: 100%;
                    max-width: 228px;
                    background-color: rgba($color: #838282, $alpha: 0.5);
                    backdrop-filter: blur(20px);
                    .advantages_title {
                        color: #cecece;
                        @include adaptiveFont(20, 18);
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                    .description {
                        @include adaptiveFont(16, 14);
                        color: var(--text-color-light);
                        word-break: break-word;
                        hyphens: auto;
                    }
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    
}