@import './../../../style/common.scss';

.home {
    width: 100%;
    /*----- Главный слайдре --------*/
    .main_slider_block {
        position: relative;
        width: 100%;
        min-height: 100dvh;
        .main_swiper {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            -ms-user-select: none; 
            -moz-user-select: none; 
            -webkit-user-select: none; 
            user-select: none;
            .swiper-slide {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                padding: 10px;
                padding-bottom: 60px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.4);
                    z-index: 3;
                }
                .title {
                    text-align: center;
                    position: relative;
                    z-index: 5;
                    width: 100%;
                    max-width: 650px;
                    @include adaptiveFont(70, 50);
                    font-weight: 700;
                    color: var(--card-text-color);
                }
                button {
                    position: relative;
                    z-index: 5;
                }
                & img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .swiper-pagination {
                position: absolute;
                @include adaptiveProperty(bottom, 50, 20);
                left: 50%;
                transform: translateX(-50%);
                z-index: 5;
                display: flex;
                gap: 18px;
                .swiper-pagination-bullet {
                    flex: 1;
                    width: 30px;
                    height: 7px;
                    background-color: rgba($color: #fff, $alpha: 0.3);
                    border-radius: 7px;
                    transition: 0.3s;
                    cursor: pointer;
                    &.swiper-pagination-bullet-active {
                        background-color: var(--main-color);
                    }
                }
            }
        }
    }
    .container {
        @include adaptiveProperty(padding-top, 80, 40);
        @include adaptiveProperty(padding-bottom, 80, 40);
        .head {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
            @include adaptiveProperty(margin-bottom, 50, 30);
        }
    }
}