@import './../../../style/common';

.nothing_here {
    width: 100%;
    min-height: 30dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    opacity: 0;
    animation: 0.5s Open forwards;
    p {
        @include adaptiveFont(30, 20);
    }
}

@keyframes Open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}