@import './../../../style/common.scss';

/*------ Шапка страницы -------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    box-shadow: 0px 0px 17px -14px #000;
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    z-index: 200;
    background-color: #fff;
    @include mediaMaxWidth(1000) {
        height: 70px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .container {
        display: flex;
        align-items: center;
        height: 100%;
        @include adaptiveProperty(padding-right, 30, 20);
        @include adaptiveProperty(padding-left, 30, 20);
        .logo {
            width: max-content;
            position: relative;
        }
        .nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @include adaptiveProperty(gap, 20, 10);
            @include adaptiveProperty(margin-left, 30, 10);
            margin-right: auto;
            @include mediaMaxWidth(1000) {
                display: none;
            }
            .more {
                position: relative;
                .more_button {
                    color: var(--text-color-dark);
                    @include adaptiveFont(18, 14);
                    transition: 0.3s;
                    cursor: pointer;
                    &:hover {
                        color: var(--main-color);
                    }
                    &.active {
                        color: var(--main-color);
                    }
                }
                .list {
                    position: absolute;
                    padding: 15px 0px;
                    top: calc(100% + 10px);
                    left: 0;
                    gap: 5px;
                    width: max-content;
                    min-width: 150px;
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    border-radius: calc(var(--main-border-radius) * 0.5);
                    box-shadow: 0px 0px 4px 0 #0000006b;
                    display: none;
                    opacity: 0;
                    &.open {
                        display: flex;
                        animation: Open 0.5s forwards;
                    }
                    .link_more {
                        width: 100%;
                        padding: 15px 25px;
                        color: var(--text-color-dark);
                        @include adaptiveFont(18, 14);
                        transition: 0.3s;
                        &:hover {
                            background-color: var(--background-grey);
                        }
                    }
                }
            }
        }
        .contact_block {
            display: flex;
            align-items: center;
            @include adaptiveProperty(gap, 20, 10);
            @include mediaMaxWidth(1000) {
                display: none;
            }
            .phone {
                text-align: center;
                a {
                    display: flex;
                    align-items: center;
                    color: var(--text-color-dark);
                    font-weight: 700;
                    @include adaptiveFont(16, 14);
                    margin-bottom: 5px;
                    transition: 0.3s;
                    @include mediaMinWidth(768) {
                        &:hover {
                            color: var(--main-color);
                        }
                    }
                    svg {
                        padding-top: 3px;
                        #SVGRepo_iconCarrier {
                            fill: var(--main-color);
                        }
                    }
                    span {
                        position: relative;
                        transform: rotate(14deg);
                    }
                }
                p {
                    @include adaptiveFont(13, 12);
                    white-space: pre;
                    text-align: left;
                }
            }
        }
        .mobile_block {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: auto;
            @include mediaMinWidth(1001) {
                display: none;
            }
            a {
                font-size: 25px;
                &.phone_icon {
                    svg {
                        padding-top: 3px;
                        #SVGRepo_iconCarrier {
                            fill: var(--main-color);
                        }
                    }
                }
                &.home_icon {
                    svg {
                        padding-top: 3px;
                        path {
                            fill: var(--main-color);
                        }
                    }
                }
            }
            .burger {
                position: relative;
                cursor: pointer;
                width: 40px;
                height: 25px;
                &.cross {
                    .top {
                        animation: TopCross 0.5s forwards;
                    }
                    .center {
                        animation: CenterCross 0.25s forwards;
                    }
                    .bottom {
                        animation: BottomCross 0.5s forwards;
                    }
                }
                &.burg {
                    .top {
                        animation: TopBurg 0.5s forwards;
                    }
                    .center {
                        animation: CenterBurg 0.25s forwards;
                    }
                    .bottom {
                        animation: BottomBurg 0.5s forwards;
                    }
                }
                span {
                    display: block;
                    width: 100%;
                    height: 5px;
                    border-radius: 5px;
                    background-color: var(--main-color);
                    &.top {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &.center {
                        position: absolute;
                        top: 10px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &.bottom {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}

@keyframes TopCross {
    0% {
        top: 0;
        transform: translateX(-50%) rotate(0deg) ;
    }
    50% {
        top: 10px;
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        top: 10px;
        transform: translateX(-50%) rotate(45deg);
    }
}

@keyframes CenterCross {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes BottomCross {
    0% {
        bottom: 0;
        transform: translateX(-50%) rotate(0deg);
    }
    50% {
        bottom: 10px;
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        bottom: 10px;
        transform: translateX(-50%) rotate(-45deg);
    }
}


@keyframes TopBurg {
    0% {
        top: 10px;
        transform: translateX(-50%) rotate(45deg) ;
    }
    50% {
        top: 10px;
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        top: 0;
        transform: translateX(-50%) rotate(0deg);
    }
}

@keyframes CenterBurg {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes BottomBurg {
    0% {
        bottom: 10px;
        transform: translateX(-50%) rotate(-45deg);
    }
    50% {
        bottom: 10px;
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        bottom: 0px;
        transform: translateX(-50%) rotate(0deg);
    }
}

@keyframes Open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
